/terraform.tfstate
/terraform.tfstate.backup
/.terraform.lock.hcl
/.terraform/
/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/webServerPageAWSIU.iml
